name: Sync_JD_Shell_To_Gitee
on:
  workflow_dispatch:
  schedule:
    - cron: '*/15 * * * *'
jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Sync to Gitee
        uses: wearerequired/git-mirror-action@master
        env:
          # 注意在 Settings->Secrets 配置 GITEE_RSA_PRIVATE_KEY
          SSH_PRIVATE_KEY: ${{ secrets.RSA_PRIVATE_KEY }}
        with:
          # 注意替换为你的 GitHub 源仓库地址
          source-repo: git@github.com:lan-tianxiang/jd_shell.git
          # 注意替换为你的 Gitee 目标仓库地址
          destination-repo: git@gitee.com:highdimen/jd_shell.git
